:root {
    --md-primary-fg-color:        #142D64;
    --md-primary-fg-color--light: #8DCAFF;
    --md-primary-fg-color--dark:  #8DCAFF;
  }

.md-typeset table:not([class]) th {
    min-width: 11.5rem;
    background-color: rgb(203, 226, 238) !important;
    color: black;
    /*background-color: #6c6c6c !important;*/
    font-size: medium;
}
